@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #171B1A;
  color: white;
}

/* Shared styles */
.font-dm-sans{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

/* Main Styles */

/* navbar style */
nav a{
  text-decoration: none;
  color: white;
}
#navbar{
  background-color: #121414;
  padding: 24px 92px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
#navbar h1{
  font-size: 2rem;
}
#navbar p{
  font-size: 1.125rem;
  color: #C2C2C2;
}
#navbar span{
  background: linear-gradient(#F5BD4D,#F89222);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#navbar button{
  border: 1px solid  #F89222;
  background: none;
  border-radius: 40px;
  padding: 12px 24px;
  font-size: 1rem;
  color: #F89222;
}
.home{
  display: flex;
  align-items: center;
  gap: 10px;
}
.home i{
  background: linear-gradient(90deg,#F5BD4D,#F89222);
  padding: 10px;
  border-radius: 5px;
}

/* Hero Section */
#hero{
  display: flex;
}
.hero-buttons-container{
  background-color: #121414;
  align-items: center;
  justify-content: center;
  padding: 78px 30px;
}
.hero-buttons{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hero-buttons i{
  color: #646464;
}
.hero-image-container{
  max-width: 368px;
}
.hero-image{
  position: relative;
  background-color: black;
  width: 368px;
  height: 460px;
  overflow: hidden;
}
.hero-image img{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.social-container{
  padding: 10px;
  justify-items: center;
  background-color: black;
}
.social-icons i{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #121414;
  color: #C5C5C5;
  transition: color 0.3s ease background-color 0.3s ease;
}
.social-icons i:hover{
  color: #F89222;
  background-color: #1F2221;
}
.social-icons div{
  display: flex;
  gap: 10px;
}

.hero-content{
  padding: 40px 48px;
}